<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('./partials/head') %>
    </head>

    <body class="loading authentication-bg authentication-bg-pattern">

        <div class="account-pages my-5">
            <div class="container">

                <div class="row justify-content-center">
                    <div class="col-md-8 col-lg-6 col-xl-4">
                        <div class="text-center">   
                            <!-- <a href="index.html">
                                <img src="/assets/images/logo-dark.png" alt="" height="22" class="mx-auto">
                            </a> -->
                            <span style="font-size: 22px; display: inline-block; font-weight: 900; border: 1px solid grey; padding: 6px; border-radius:5px; width: 70px">
                                IEE
                            </span>
                            <p class="text-muted mt-2 mb-4">Simplifying Your Immigration needs</p>

                        </div>
                        <div class="card">
                            <div class="card-body p-4">
                                
                                <div class="text-center mb-4">
                                    <h4 class="text-uppercase mt-0">Reset Password</h4>
                                </div>

                                <form action="#" id="password-reset-form">
                                    <div class="mb-3">
                                        <label for="password" class="form-label">New Password</label>
                                        <input class="form-control required" type="password" required="" id="password" name="password" placeholder="Enter your new password">
                                    </div>
                                    <div class="mb-3">
                                        <label for="re-password" class="form-label">Confirm Password</label>
                                        <input class="form-control required" type="password" required="" id="re-password" name="re-password" placeholder="Confirm Password">
                                    </div>
                                    <div class="mb-3 d-grid text-center">
                                        <button class="btn btn-primary" type="submit"> Reset Password </button>
                                    </div>
                                </form>

                            </div> <!-- end card-body -->
                        </div>
                        <!-- end card -->

                        <div class="row mt-3">
                            <div class="col-12 text-center">
                                <p class="text-muted">Do you have an account? <a href="/sign-in" class="text-dark ms-1"><b>Sign In</b></a></p>
                            </div> <!-- end col -->
                        </div>
                        <!-- end row -->

                    </div> <!-- end col -->
                </div>
                <!-- end row -->
            </div>
            <!-- end container -->
        </div>
        <!-- end page -->

        <%- include('./partials/scripts') %>
        <script src="/assets/js/modules/password-recovery.js"></script>
        
    </body>
</html>