<!-- ========== Left Sidebar Start ========== -->
<div class="left-side-menu">

    <div class="h-100" data-simplebar>

         <!-- User box -->
        <div class="user-box text-center">

            <img src="/assets/images/avatar.png" alt="user-img" class="rounded-circle img-thumbnail avatar-md">
                <div class="dropdown">
                    <a href="#" class="user-name dropdown-toggle h5 mt-2 mb-1 d-block" data-bs-toggle="dropdown"  aria-expanded="false"></a>
                    <div class="dropdown-menu user-pro-dropdown">

                        <!-- item-->
                        <!-- <a href="javascript:void(0);" class="dropdown-item notify-item">
                            <i class="fe-user me-1"></i>
                            <span>My Account</span>
                        </a> -->

                        <!-- item-->
                        <a href="javascript:void(0);" class="dropdown-item notify-item" onclick="signOut()">
                            <i class="fe-log-out me-1"></i>
                            <span>Logout</span>
                        </a>

                    </div>
                </div>

            <p class="text-muted left-user-info">Applicant</p>

            <ul class="list-inline">
                <li class="list-inline-item">
                    <a href="#" class="text-muted left-user-info">
                        <i class="mdi mdi-account"></i>
                    </a>
                </li>

                <li class="list-inline-item">
                    <a href="#" onclick="signOut()">
                        <i class="mdi mdi-power"></i>
                    </a>
                </li>
            </ul>
        </div>

        <!--- Sidemenu -->
        <div id="sidebar-menu">

            <ul id="side-menu">

                <li class="menu-title">Navigation</li>
    
                <li>
                    <a href="/dashboard">
                        <i class="mdi mdi-view-dashboard-outline"></i>
                        <span> Dashboard </span>
                    </a>
                </li>
                <li>
                    <a href="/suitable-countries">
                        <i class="mdi mdi-map-search"></i>
                         <span> Find Suitable Country </span>
                    </a>    
                </li>
                <li>
                    <a href="#">
                        <i class="mdi mdi-marker-check"></i>
                         <span> Check Country Eligibility </span>
                    </a>    
                </li>
                <li>
                    <a href="#">
                        <i class="mdi mdi-selection-ellipse-arrow-inside"></i>
                         <span> Immigration Insights </span>
                    </a>    
                </li>
            </ul>

        </div>
        <!-- End Sidebar -->

        <div class="clearfix"></div>

    </div>
    <!-- Sidebar -left -->

</div>
<!-- Left Sidebar End -->